html,body{
  background-color:#FFFACD;
  padding:20px;
  font-family:'Noto Sans KR', sans-serif;
}
.btn{
  border:0;
  background-color:#FFDAB8;
  padding:7px;
  padding-left:15px;
  padding-right:15px;
  font-size:10px;
  font-family:'Noto Sans KR', sans-serif;
  cursor:pointer;
}
#start{
  margin-right:20px;
}